*.rbc
*.sassc
.sass-cache
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/spec/tmp/*
**.orig
/config/database.yml
.DS_Store
.rspec
*.swp
*.swo
*.swn
*.swm
*.log
ma
la
.env
.ruby-version
.ruby-gemset
