<h1>{{title}}</h1>

<h2>Reviews:</h2>
<div ng-repeat="review in reviews" class="review-list panel panel-default">
  <!-- <section class="review-section score-{{review.score}}"> -->
  <div class="panel-heading score-{{review.score}}">
    {{review.name}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">Brewery: {{review.brewery}}</li>
    <li class="list-group-item">Thoughts: {{review.review}}</li>
    <li class="list-group-item">Score: {{review.score}} out of 5</li>
  </ul>
</div>

<form class="review-form" role="form" ng-submit="createReview(newReview)">
  <div class="form-group">
    <input type="text" class=" form-control" ng-model="newReview.name" ng-required="true" placeholder="Beer name" />
    <input type="text" class="form-control" ng-model="newReview.brewery" ng-required="true" placeholder="Brewery name" />
    <input type="text" class="form-control" ng-model="newReview.review" ng-required="true" placeholder="A few thoughts" />
    <input type="number" class="form-control score-input" ng-model="newReview.score" ng-required="true"  min="1" max="5" placeholder="Score out of 5"/>
    <button type="submit" class="btn btn-primary right-float">Save</button>
  </div>
</form>

<h2>Review preview</h2>
<div class="review-list panel panel-default">
  <!-- <section class="review-section score-{{review.score}}"> -->
  <div class="panel-heading score-{{review.score}}">
    {{newReview.name}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">Brewery: {{newReview.brewery}}</li>
    <li class="list-group-item">Thoughts: {{newReview.review}}</li>
    <li class="list-group-item">Score: {{newReview.score}} out of 5</li>
  </ul>
</div>
