<h1>{{title}}</h1>

<div ng-repeat="review in reviews" class="review-list">
  <section class="review-section score-{{review.score}}">
    <header>
      <h2>{{review.name}}</h2>
    </header>
    <ul class="list-unstyled">
      <li>{{review.brewery}}</li>
      <li>{{review.review}}</li>
      <li>{{review.score}} out of 5</li>
    </ul>
  </section>
</div>

<form class="form-inline formWithDatePicker row" role="form" ng-submit="actionBooking()">
  <div class="form-group col-lg-12">
    <div>
      <label class="col-lg-12 control-label">Beer</label>
      <input type="text" class="col-lg-12" ng-model="newReview.name" ng-required="true" />
    </div>
    <div>
      <label class="col-lg-12 control-label">Brewery</label>
      <input type="text" class="col-lg-12" ng-model="newReview.brewery" ng-required="true" />
    </div>
    <div>
      <label class="col-lg-12 control-label">Review</label>
      <input type="text" class="col-lg-12" ng-model="newReview.review" ng-required="true" />
    </div>
    <div>
      <label class="col-lg-12 control-label">Score</label>
      <input type="number" class="col-lg-12" ng-model="newReview.score" ng-required="true"  min="1" max="5"/>
    </div>
  </div>
</form>

<h2>Review preview</h2>
<div class="review-list">
  <section class="review-section score-{{review.score}}">
    <header>
      <h2>{{newReview.name}}</h2>
    </header>
    <ul class="list-unstyled">
      <li>{{newReview.brewery}}</li>
      <li>{{newReview.review}}</li>
      <li>{{newReview.scoreText}}</li>
    </ul>
  </section>
</div>
